
  							/* ************** BODY  ******** */ 

body {
	font-family:"Arial"; color:#fff;
	margin:0;
} 
.page-bg{
	background-image:url(../images/bg1.jpg);
 	-webkit-filter: blur(3px);
-moz-filter: blur(3px);
-o-filter: blur(3px);
-ms-filter: blur(3px);
	filter: blur(3px);
	position:fixed;
	width:100%;
	height:100%;
	z-index:-1;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
    top: 0; bottom: 0; 
}




							/* *********** HEADER ********* */

header {
    color: white;
    background-color: rgba(00,00,00,0.5);
    text-align: center;
    height: 0 auto;
}
@media all and (max-width: 959px) and (min-width: 600px) {
    header{
	padding-bottom: 10px;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    header{
       	padding-bottom: 10px;
    }
}
.hp {
	font-size:35px;
	font-family:Impact, sans-serif;
	margin-top: 10px;
	background-color: transparent;
	border:none;
}
.hp a{
	text-decoration: none;
	color: white;

}

.srch{
	margin-top: 10px;
	padding-bottom: 10px;
	width: 450px;
	border-radius: 2px;
	border:1px solid grey;
	background-color: rgba(255, 255, 255,0.9);	
	color: black;
	text-align: center;
	font-size: 14px;
}
@media all and (min-width: 960px) {
    .srch{
        width: 450px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    .srch{
        width: 450px;
        margin-left: 150px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 350px) {
    .srch{
       	width: 190px;
       	padding-bottom: 10px;
    }
}

.btn{
	height: 30px;
	width: 80px;
	border-radius: 3px;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: transparent;
	color: white;
	border: 1px solid grey;
	margin-top: 13px;
	display: inline-block;
	margin-right: 10px;
}
.btn:hover{
	background-color: white;
	color: black;
	cursor: pointer;
	transition: background-color 2s , color 2s ;
}

										/* Section */
.div{
	height: 140px;
}
@media all and (max-width: 599px) and (min-width: 320px) {
    .div{
        height: 80px;
    }
}
.text {
	font-family:"Arial Black", sans-serif;
	color: white;
	text-align: center;
	line-height: 30px;
}
@media all and (min-width: 960px) {
    .text{
        font-size: 40px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    .text{
        font-size: 40px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    .text{
        font-size: 30px;
    }
}
.bp {	
	text-align: center;
	font-family:Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	opacity:0.8;
	word-spacing: 3px;
	vertical-align: middle;
	color: black;
	padding-top: 10px;
	font-weight: bold;
}
@media all and (min-width: 960px) {
    .bp{
        font-size: 18px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    .bp{
        font-size: 16px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    .bp{
        font-size: 15px;
    }
}
.pad-bp {
	padding-top: 0;
	padding-bottom: 0;
}
.home-h1 {
	color:white;
	font-size: 50px;
	margin-top: 50px;
    margin-bottom: 40px;
}
.h1 {
	color:white;
	font-size: 50px;
}
.home-sbtn {
	height: 55px;
	width: 140px;
	color: black;
	background-color: rgba(255, 255, 255,0.7);
	border-radius: 2px;
	font-size: 18px;
	margin-top: 30px;


}
.diiv{
	height: 100px;
}
@media all and (max-width: 599px) and (min-width: 320px) {
    .diiv{
        height: 80px;
    }
}
										/* *********** FOOTER ********* */

footer {
    color: white;
    background-color: rgba(00,00,00,0.8); 
    height:0 auto;
    position: relative;
    padding-bottom: 10px;
}
footer img {
	padding-top: 10px;
}
footer p {
	text-align:center;
	font-size:14px;
	opacity: 0.9; 
}

footer ul {
	text-align: center;
	padding-left: 0;	
}

footer ul li {
	display: inline;
	opacity:0.8;
	font-size:14px;
	text-decoration:none;

}
footer ul li a {
	text-decoration:none;
	color:white;
}
footer ul li a:hover {
	text-decoration:none;
	color:white;
	opacity: 0.7;
}
.imgg_social{
	width:30px;
	height: 30px;
	padding-top: 0;
	float: right;
	margin-right: 15px;
}

footer hr {
	height:1px;
	border:none;
	color:#333;
	background-color:#333;
 	position:relative;
}
.sub{
	background:transparent;
	border:1px solid grey;
	border-radius:4px;
	padding: 8px 20px;
	color:white;
    text-align: center;
    font-size:10px;
    margin-left: 140px;
}
.sub1 {
	padding-bottom: 0;
}
@media all and (max-width: 599px) and (min-width: 320px) {
    .sub1{
       	padding-bottom: 10px;
    }
}
.center {padding: 8px 20px;
}

.fp{
	padding-top: 10px;
}


 							/* *************** Login and Sign Up ************ */
 .input {
	height: 30px;
	width: 450px;
	border-radius: 2px;
	border:1px solid grey;
	background-color: rgba(255, 255, 255,0.9);	
	color: black;
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
 }

 @media all and (min-width: 960px) {
    .input{
        width: 450px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    .input{
        width: 400px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    .input{
        width: 250px;
    }
}

.font{
	font-size: 20px;
	padding-top: 20px;
}
 .inbtn {
	height: 45px;
	width: 120px;
	color: black;
	background-color: white;
	border-radius: 2px;
	font-size: 18px;
}
.inbtn:hover{
	cursor: pointer;
	font-size: 20px;
	color:white;
	background-color: transparent;
	border-radius: 9px;
	height: 50px;
	width: 140px;
	transition: background-color 2s,border-radius 2s,font-size 2s,height 2s,width 2s;
}
.label {
	color: black;
}
.iog_social{
	width:40px;
	height: 40px;
}
.img_social:hover{
	width:50px;
	height: 50px;
	transition: width 1s, height 1s;
}
.in-ul {
	list-style-type: none;
}
.in-ul li {
	margin-right: 10px;
	display: inline;
}
.in-ul li a{

	display: inline;
}
